.profile {
    display: flex;
    gap: 10px;
    margin: 30px 0 20px 0;
}

.logout-btn,
.github-btn {
    padding: 10px 20px;
    background-color: #e63946;
    color: var(--text);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.github-btn {
    background-color: #333;
}

.btn-icon {
    font-size: 1.1rem;
}

.logout-btn:hover {
    background-color: darkred;
    color: var(--text);
}

.github-btn:hover {
    background-color: #555;
    color: var(--text);
}

@media (max-width: 768px) {
    .profile {
        margin: 25px 0 10px 0;
        flex-direction: column;
    }
}
